<div class="row top_row">
  <div class="col-xs-1 col-md-1">
  </div>
  <div class="col-xs-3 col-md-4">
    <p class="pull-right header text-center">Washington State</p>
  </div>
  <div class="col-xs-4 col-md-2">
      <img src="app/assets/wash_seal.png" class="img-responsive seal center-block">
  </div>
  <div class="col-xs-3 col-md-4">
    <p class="pull-left header text-center">Salary Information</p>
  </div>
  <div class="col-xs-1 col-md-1">
  </div>
</div>  <!-- row -->
<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
    <form class="search_box form-inline text-center" ng-submit="search()">
      <div class="form-group">
        <div class="inline-group">
          <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search">
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-4">
  </div>
</div> <!-- row -->
<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <h3 class="text-center salaries"> Total Salaries : {{ sum | currency }} </h3>
    <div class="results text-center well" ng-repeat="salary in salaries | filter: searchTerm">
      <h3 class="name">{{salary.employee_name}}</h3>
      <h4 class="job_title">
        {{salary.job_title}}
      </h4>
      <div>
      <span class="year">2011 :</span> <span class="past_salary">{{salary.Sal20111 | currency:undefined:0}}</span>
      <span class="year">| 2012 :</span> <span class="past_salary">{{salary.Sal20121 | currency:undefined:0}}</span>
      <span class="year">| 2013 :</span> <span class="past_salary">{{salary.Sal20131 | currency:undefined:0}}</span>
      <span class="year">| 2014 :</span> <span class="salary">{{salary.Sal2014 | currency:undefined:0}}</span>
      </div>
      <h5><small>{{salary.Agency_Title}}</small></h5>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>
<br>
<div class="text-center">
  <button class="btn btn-success" ng-disabled="currentPage <= 0" ng-click="currentPage=currentPage-1"><<</button>
  <button class="btn btn-success" ng-disabled="currentPage >= numberOfPages()" ng-click="currentPage=currentPage+1">>></button><br>
  Page {{currentPage+1}} of {{numberOfPages()}}
</div> 
